.Headings {
  font-size: 30px;
  font-family: gadget, sans-serif;
  text-decoration: underline;
    
}

.logo {
  border-style: solid ;
  padding: 5px;
  margin-bottom: 5px;
  margin-top:  0;
}

a{
  color: red;
  text-decoration: none;
}

.Storyp {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  position: relative;
  bottom: 15px;
  font-weight: ;
}

.About {
  font-size: 45px;
  Font-family: gadget, sans-serif;
  shadow
}
